
@font-face {
  font-family: 'Roboto', serif;
  src: url("http://fonts.googleapis.com/css?family=Roboto");
}


.App {
  font-family: 'Roboto', serif;
}

/*24px = 1.5em*/
/*0.0625*/


header h1{
  text-align: center;
  font-size: 3em;
  color: #4b6fb8;

}


.light{
  background-color: #fafafa;
}

.dark{
  background-color: #434343;
}


/*mainBody*/
.mainBody{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 2em;

  background-color: #FBFBFB;

  padding: 2em 3em;
}



main{
  display: flex;
  flex-flow: column nowrap;
  width: fit-content;
}

/*Header of mainBody : SearchBar + date*/
.mainBodyHeader{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1em;

  width: 100%;
}

@media screen and (max-width: 786px) {
  .mainBodyHeader{
    justify-content: center;
  }
  .searchBar{
    order: 2;
    margin-bottom: 1em;
  }
}

/*SearchBar*/
.searchBar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.3em 1em;

  width: 20em;
  height: 2em;

  background: #F2F2F2;
  border-radius: 21px;

}

@media screen and (max-width: 400px) {
  .searchBar{
    width: 80%;
  }
}


/*Search Input*/
.searchBar input{
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  border-style: none;
}

.searchBar input:focus{
  display: block;
}

.logoComp{
  color: var(--text-gray);
  cursor: pointer;
}

/*Rooms Container*/
.rooms{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  margin: 1em 0;
  gap: 1em;
}

@media screen and (max-width: 400px) {
  .rooms{
    flex-flow: column;
  }

  .big{
    width: 80% !important;
    height: 60% !important;
    justify-content: flex-start !important;
    gap: 1.5em;
  }
  .slider{
    --size: 50%;
    width: var(--size) !important;
    height: 6em !important;
    /*margin-top: -2em;*/

  }
  .right{
    align-items: center !important;
  }
}


.lowBody{
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
}


@media screen and (max-width: 906px) {
  .lowBody{
    justify-content: center;
    gap: 1em;
  }

  .big{
    order: 2;
  }

  .left{
    gap: 1em !important;
    order: 2;
  }

  .rooms {
    max-width: 30em;
  }
  .homeMain{
    align-items: center;
  }
}



.left{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;

  box-sizing: border-box;

  height: 100%;
  gap: 2em;
}


.date{
  color: var(--text-gray);
  display: flex;
  flex-flow: row nowrap;
  padding-right: 1em;
}



.day{
  font-weight: bold;
}


.right{
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1em;
}




.notFoundContainer{

  position: fixed;

  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;


  background-color: #3e3e3e;

  height: 100%;
  width: 100%;
}


.notFound{
  padding: 2em;

  border-radius: 40px;

  display: flex;
  flex-flow: row;
  justify-content: center;

  background-color: #cacaca;

  font-size: 5em;
  color: #838A98;
}




/*Smarphone size*/
@media screen and (max-width: 480px) {
  .navContainer{
    /*display: none !important;*/
    position: fixed !important;
    opacity: 1 !important;
    z-index: 100;
    /*margin-top: 0;*/
    margin: -7em auto auto 1em !important;
  }

  .mainBody{
    padding-left: 0 !important;
    padding-right: 0 !important;
    justify-content: flex-start !important;
    /*width: 100% !important;*/
  }

  .navButton{
    display: block !important;
  }

  .memberListContainer{
    justify-content: center;
  }

}


@media screen and (min-width: 480px) {
  .navContainer{
    display: flex !important;
  }
}



@media screen and (max-width: 1175px) {

  .profilContainer{
    display: none;
  }

  .mainBody{
    justify-content: center;
    gap: 1em;
  }

}


.navButton{
  display: none;
  width: 1.5em;
  position: fixed;
  margin-left: 1em;
  margin-top: 0.5em;
}

/*!*Tablet size*!*/
/*@media screen and (max-width: 760px) {*/


/*}*/
/*!*Desktop size*!*/
/*@media screen and (max-width: 1280px) {*/


/*}*/

