
:root{
    --first-gray: #FBFBFB;
    --second-gray: #F6F6F6;
    --text-gray: #838A98;

    --background--card--color: #FFFFFF;
    --background--prop--color: #FFFFFF;

    --card--border: 1px solid rgba(165, 165, 165, 0.2);
    --prop--border: 0.2px solid rgba(165, 165, 165, 0.2);

    --prop--shadow: -3px 3px 4px rgba(154, 154, 154, 0.15), 3px 3px 4px rgba(154, 154, 154, 0.15);
}


/*Animations on cards*/

.long, .big, .square, .graphLink{
    transition: box-shadow .3s;
}

.long:hover, .big:hover, .square:hover, .graphLink:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}






