


.mainStat{
    /*background-color: #838A98;*/
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 3em;

}

.sensorInGraph{
    margin-top: 0.5em;
    margin-right: 1em !important;
    gap: 1.7em;
}


.titleInGraph::before{
    content: attr(room-content);
    position: absolute;
    color: var(--text-gray);
    font-size: 0.9em;

    padding-top: 1.2em;
}





.upStats{
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.downGraph{

    background-color: white;
    width: fit-content;
    height: fit-content;

}

@media screen and (min-width: 1820px) {
    .upStats{
        width: max-content;
    }
}

/*@media screen and (max-width: 1820px) {*/
/*    .upStats{*/
/*        width: 100em;*/
/*    }*/
/*}*/
@media screen and (max-width: 1820px) {
    .upStats{
        width: 50em;
    }
}

@media screen and (max-width: 1430px) {
    .upStats{
        width: min-content;
    }
}


.graph{
    display: flex;
    flex-flow: column nowrap;
    gap: 3em;

    /*background-color: #838A98;*/
}

.graph > *{
    border: 0.1em solid rgba(75, 111, 184, 0.5);
    border-radius: 10px;
    padding: 3em 2em;

}
