


.mainStat{
    /*background-color: #838A98;*/
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 3em;

}




.upStats{
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.downGraph{

    background-color: white;
    width: fit-content;
    height: fit-content;

}

@media screen and (min-width: 1820px) {
    .upStats{
        width: max-content;
    }
}

/*@media screen and (max-width: 1820px) {*/
/*    .upStats{*/
/*        width: 100em;*/
/*    }*/
/*}*/
@media screen and (max-width: 1820px) {
    .upStats{
        width: 50em;
    }
}

@media screen and (max-width: 1430px) {
    .upStats{
        width: min-content;
    }
}

