



.head{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    width: 90%;

    font-family: 'Roboto', serif;
}



.fa-ellipsis{
    color: rgba(131, 138, 152, 0.7);
}

.fa-ellipsis:hover{
    cursor: pointer;
}
